@import "lib/color";
@import "lib/mixin";

/*
  wp
-------------------------------*/
.wp__editor{
  margin: 0 auto;
  max-width: 700px;
  >*{
    margin-top: 1em;
  }
  >*:first-child{
    margin-top: 0;
  }
  h1,h2,h3{
    margin-bottom: 2.4rem;
    margin-top: 3.2rem;
    +*{
      margin-top: 0;
    }
  }
  h1{
    background: $accentColor;
    color: $bgColor;
    font-size: 120%;
    padding: 1rem 1.6rem;
  }
  h2{
    border-left: 4px solid $accentColor;
    font-size: 120%;
    line-height: 1.4;
    padding-left: 1.6rem;
  }
  h3{
    border-bottom: 1px solid $accentColor;
    font-size: 120%;
  }
  ul,ol{
    margin-left: 1.5em;
  }
  ul{
    list-style: disc;
  }
  ol{
    list-style: decimal;
  }
  a{
    border: none;
    color: $activeColor;
    display: inline;
    margin: 0;
    padding: 0;
    text-decoration: underline;
  }
  a:hover{
    text-decoration: none;
  }
  img{
    border: 1px solid $baseColor;
    height: auto;
  }
}
.gallery-item{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 1.6rem;
  img{
    border: 1px solid $baseColor;
    height: auto;
    width: auto;
  }
}
.gallery-icon{
  order: 2;
}
.gallery-caption{
  color: $accentColor;
  font-size: 1.4rem;
  margin-top: .4rem;
  order: 1;
}
p > a[target="_blank"]{
  text-decoration: underline;
}

@include mq_pc {
  .gallery-columns-1{
  }
  .gallery-columns-2{
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    >*{
      width: 48%;
    }
  }
  .gallery-columns-3{
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    >*{
      margin-right: 2%;
      width: 32%;
      &:nth-of-type(3n){
        margin-right: 0;
      }
    }
  }
  .gallery-columns-4{
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    >*{
      margin-right: 2%;
      width: 23%;
      &:nth-of-type(4n){
        margin-right: 0;
      }
    }
  }
}